/* Variables */
:root{
    --blue: #314584;
    --red:#ff3946;
    --white:#FFFEFE ;
    --gray:#6e757a;
    --btn-padding: 17px 35px;
}
/* End Variables */
/* Global Rules */
*{
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    text-transform: capitalize;
}
.parent{
    background-color: white;
    margin: auto;
    width: 600px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a{
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
}
.btn-special{
    text-transform: capitalize ;
    padding: 17px 35px;
    margin-right: 40px;
    width: 200px;
    height: 55px;
    border: 2px solid var(--red);
    border-radius: 25px;
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0px 4px 5px 0px rgb(255 57 70 / 15%);
}
/* Small screens */ 
@media ( min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Meduim */

@media ( min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media ( min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Nav bar */
.nav-bar
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
@media ( max-width: 768px){
    .nav-bar{
        margin-top: 10px;
    }
}
.navbar-band{
    padding:10px 0 ;
}
.nav-bar .navbar-calopas{
    display: flex ;
    justify-items: flex-start;
    justify-content: space-between;
    flex-basis: auto;
}
@media ( max-width: 704px){
    .nav-bar .navbar-calopas{
        display: none;
    }
}
.nav-bar .navbar-calopas li{
    list-style-type: none;
    padding: 0 40px 2px 0 ;
}
.nav-bar .navbar-calopas li a{ 
    text-decoration: none;
    color: var(--blue);
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-bar .navbar-calopas li:first-of-type a,
.nav-bar .navbar-calopas li:hover a{
    color: var(--red);
}
.nav-bar  button{
    background-color: var(--white);
    border: 1px solid var(--white) ;
    box-shadow: 0px 4px 6px 0px rgb(30 32 33 / 7%);
    font-weight: 600;
    width: 200px;
    color: var(--red);
}
@media ( max-width: 995px){ 
    .nav-bar  button{
        display: none;
    }
    .nav-bar{
        align-items: center;
        justify-content: center;
    }
}
/* End  Nav bar */
/* Start Main Home */
.container-fluid img{
    position: absolute;
    right: 0px;
    z-index: -9;
    width: 45%;
}
@media ( max-width: 995px){
    .container-fluid img{
        display: none;
    }
    .main-home{
        text-align: center;
    }
}
.main-home .text h1{
    margin: 250px 0 20px 0;
    font-size: 4.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--blue);
}
@media (max-width: 1300px){  
    .main-home .text h1 {
        margin: 150px 0 20px 0;
    }
}
.main-home .text p{
    color: var(--gray);
    margin-bottom: 40px;
    line-height: 1.8;
}
.main-home .btns a:first-child:hover{
    background-color: var(--white);
    color: var(--blue);
}
.main-home .btns a:last-child{
    padding: var(--btn-padding);
    color: var(--blue);
}
.main-home .btns a:hover{
    color: var(--red);
}
.main-home .btns{
    margin-bottom: 160px;
}
@media ( max-width: 768px){
    .main-home .text h1{
        margin-top: 20px;
        font-size: 3rem;
    }
    .main-home .text p{
        font-size: .8rem;
        margin-bottom: 10px;
    }
    .main-home .btns a,
     .main-home .btns button {
        margin: 10px auto;
        display: block;
    }
}
/* End Main Home */
.services{
        padding: 50px 0px;
}
.services .img-aside img:first-child{
    position: absolute;
    max-width: 100%;
    left: -20px;
}
.services .img-aside img:last-child{
    top: 1300px;
}
.services .img-aside img{
    max-width: 100%;
    height: auto;
    width: 278px;
}
.services .articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-evenly;
}
.services .articles .col{
    flex: 0 0 33.33%;
    max-width: 100%;
}
.services .articles .col:first-child{
    line-height: 1.5;
    letter-spacing: 1px;
}
.services .articles .col a:hover{
    background-color: var(--white);
    color: var(--blue);
}
.services .articles .col .srv:first-child{
    margin-bottom: 50px;
}
.services .articles .col .srv{
    background-color: #fff;
    padding: 40px 45px;
    margin: 10px;
    -webkit-box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
    -moz-box-shadow: 0px 3px 7px 0px rgba(28,31,33,0.15);
    box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
    min-height: 400px;
}
@media ( max-width: 995px){
    .services .articles{
        /* margin-right: 0px;
        margin-left: 0px; */
    }
}
